In [2]:
#1: Print the first 10 natural numbers using for loop.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
#2: Python program to print all the even numbers within the given range.
for i in range(1,31):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [7]:
#3: Python program to calculate the sum of all numbers from 1 to a given number.
sum = 0
for i in range(1,50):
    sum=sum+i
print(sum)

1225

In [13]:
#4: Python program to calculate the sum of all the odd numbers within the given range.
sum =0
for i in range(1,30):
    if i%2!=0:
        sum=sum+i
print(sum)

225

In [15]:
# 5: Python program to print a multiplication table of a given number
n=int(input())
for i in range(1,11):
    print(i*n)

 5

5
10
15
20
25
30
35
40
45
50

In [17]:
# 6: Python program to display numbers from a list using a for loop.
list1 = [1,2,3,4]
for i in list1:
    print(i)

1
2
3
4

In [3]:
#7: Python program to count the total number of digits in a number.
num = 134623
count = 0
while num>0:
    num = num//10
    count = count+1
print(count)

6

In [4]:
#8: Python program to check if the given string is a palindrome.
num =12321
sum1 = 0
temp = num
while num>0:
    rem =num%10
    sum1=sum1*10+rem
    num=num//10
if(sum1==temp):
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [7]:
#9: Python program that accepts a word from the user and reverses it.
num =int(input())
sum1 = 0
temp = num
while num>0:
    rem =num%10
    sum1=sum1*10+rem
    num=num//10
print(sum1)

 12321

12321

In [14]:
#10: Python program to check if a given number is an Armstrong number
num =int(input())
sum1 = 0
temp = num
while num>0:
    rem =num%10
    sum1=sum1+rem*rem*rem
    num=num//10
if(temp==sum1):
        print('arm')
else:
        print('not')

 153

arm

In [41]:
#11: Python program to count the number of even and odd numbers from a series of numbers.
count=0
num=0
for i in range(1,22):
    if i%2==0:
        count = count+1
    if i%2 != 0:
        num=num+1
print("even",count)
print("odd ",num)

even 10
odd  11

In [65]:
#12: Python program to display all numbers within a range except the prime numbers.
for i in range(2,31):
    is_prime=True
    for j in range(2,i):
        if i%j ==0:
            is_prime=False
    if is_prime==False:
        print(i)

4
6
8
9
10
12
14
15
16
18
20
21
22
24
25
26
27
28
30

In [51]:
#13: Python program to get the Fibonacci series between 0 to 50.
a,b=0,1
n =50
for i in range(n):
    print(a,end=' ')
    a,b=b,a+b

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

In [56]:
#14: Python program to find the factorial of a given number.
fact =1
for i in range(1,11):
    fact=fact*i
print(fact)

3628800

In [58]:
#15: Python program that accepts a string and calculates the number of digits and letters.
string = 'nikita123'
count= 0
char=0
for i in string:
    if i.isdigit():
        count=count+1
    elif i.isalpha():
        char=char+1
print(count,'digit')
print(char,'letters')

3 digit
6 letters

In [90]:
#18: Python program to convert the month name to a number of days.
month=['january','february','march','april','may','june','july','august','september','october','november','december']
for i in month:
    if i=='february':
        print(i,'28 days or 29 days')
    elif i in ('january','march','may','july','august','october','december'):
        print(i,"31 days")
    elif i in ('february','april','june','september','november'):
        print(i,"30 days")
    else:
        print('input is not valid')

january 31 days
february 28 days or 29 days
march 31 days
april 30 days
may 31 days
june 30 days
july 31 days
august 31 days
september 30 days
october 31 days
november 30 days
december 31 days