In [6]:
#symmmetric difference
set1 ={1,2,3}
set2={3,4,5}
sym = (set1-set2) | (set2-set1)
sym

{1, 2, 4, 5}

In [10]:
#subset
set1 ={1,2,3}
set2={3,4,5}
subset = set1.issubset(set2)
subset

False

In [14]:
#remoove element from a
set1 ={1,2,3}
set2={3,4,5}
for i in set2:
    set1.discard(i)
print(set1)

{1, 2}

In [16]:
#union
set1 ={1,2,3}
set2={3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [21]:
sets = [{1,2},{2,3},{3,4}]
result = set()
for i in sets:
    result |= i
print(result)

{1, 2, 3, 4}

In [34]:
set1 = {1,2,3,4,5}
set2={1,4,3,5,6}
element=set()
for i in set1:
    if i in set2:
        element.add(i)
print(element)

{1, 3, 4, 5}

In [38]:
#merge tw dicct by ading values keys
dict1 ={'a':1,'b':2}
dict2 = {'a':7,'c':3}
merged = dict1.copy()
for key in dict2:
    if key in merged:
        merged[key]+=dict2[key]
    else:
        merged[key]=dict2[key]
print(merged)

{'a': 8, 'b': 2, 'c': 3}

In [46]:
#student with highest score
score = {'nikita':50,'mahak':60,'pooja':40}
highest =max(score,key = score.get)
print(highest)

mahak

In [48]:
#list based on freq
list1 =['apple','apple','banana','cherry']
freq={}
for i in list1:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print(freq)

{'apple': 2, 'banana': 1, 'cherry': 1}

In [76]:
# 9. Remove Items Priced Above a Given Value
a= {'apple':30,'banana':40,'mango':3.0}
max_price = 30
for item ,price in a.items():
    if price<=max_price:
        print(item,price)

apple 30
mango 3.0

In [89]:
## 10. Invert a Dictionary
dict1= {'a':1,'b':[2,3]}
invert = {}
for key,value in dict1.items():
    if isinstance(value,list):
        for item in value:
            invert[item]=key
    else:
        invert[value]=key
print(invert)

{1: 'a', 2: 'b', 3: 'b'}

In [91]:
#11. Print the First n Multiples of a Given Number
n=5
for i in range(1,11):
    print(i*n)

5
10
15
20
25
30
35
40
45
50

In [95]:
## 12. Numbers Between 1 and 100 Divisible by Both 3 and 5
for i in range(1,101):
    if i%3==0 and i%5==0:
        print(i)

15
30
45
60
75
90

In [99]:
# 13. Count Vowels in a Given String
string ='nikita'
count = 0
vowels = 'aeiouAEIOU'
for char in string:
    if char in vowels:
        count += 1
print(count)

3

In [103]:
# 14. Find the Largest Number in a List
num = [1,2,3,2,57,8]
largest = num[0]
for n in num:
    if n>largest:
        largest=n
print(largest)

57

In [111]:
# 15. Check if a Number is an Armstrong Number
n=153
sum=0
temp = n
while n>0:
    rem=n%10
    sum=sum+rem*rem*rem
    n=n//10
if sum==temp:
    print('armstrong')
else:
    print('not')

armstrong

In [115]:
# 16. Generate a Multiplication Table
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end = ' ')

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50 6 12 18 24 30 36 42 48 54 60 7 14 21 28 35 42 49 56 63 70 8 16 24 32 40 48 56 64 72 80 9 18 27 36 45 54 63 72 81 90 10 20 30 40 50 60 70 80 90 100