In [1]:
a = 10
print(type(a))
print(id(a))

<class 'int'>
140704896828488

In [13]:
num = a
print(id(num))
num = 20
print(id(num),"a:",id(a))

140704896828488
140704896828808 a: 140704896828488

In [15]:
a= 500
x=a

a is x

True

In [17]:
a==x

True

In [19]:
a=500
x=500
a is x

False

In [21]:
a==x

True

In [39]:
for row in range(1,5):
    for col in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [51]:
for row in range(1,4):
    for col in range(1,5):
        print(row,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3

In [53]:
for row in range(4,1,-1):
    for col in range(5,1,-1):
        print(row,end=" ")
    print()

4 4 4 4
3 3 3 3
2 2 2 2

In [59]:
for row in range(10,12):
    for col in range(10,14):
        print(col,end=" ")
    print()

10 11 12 13
10 11 12 13

In [251]:

for row in range(1,5):
    for col in range(row,5):
        print(col,end=" ")
    print()

1 2 3 4
2 3 4
3 4
4

In [91]:
for row in range(1,5):
    for col in range(5,row,-1):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [95]:
for row in range(1,5):
    for col in range(row,5):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [123]:
for row in range(5,1,-1):
    for col in range(1,row):
        print(col,end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [231]:
num =4
for row in range(1,5):
    for col in range(row,5):
        print(num,end=" ")
    num = num-1
    print()

4 4 4 4
3 3 3
2 2
1

In [233]:
num =65
for row in range(1,5):
    for col in range(row,5):
        print(num,end=" ")
        num = num+1
    print()

65 66 67 68
69 70 71
72 73
74

In [235]:
ord("A")

65

In [237]:
chr(65)

'A'

In [239]:
num =65
for row in range(1,5):
    for col in range(row,5):
        print(chr(num),end=" ")
        num = num+1
    print()

A B C D
E F G
H I
J

In [247]:
n=4
for row in range(1,n+1):
    num =65
    for col in range(row,n+1):
        print(chr(num),end=" ")
        num = num+1
    print()

A B C D
A B C
A B
A

In [255]:
for row in range(1,5):
    num=1
    for col in range(row,5):
        print(num,end=" ")
        num=num+1
    print()

1 2 3 4
1 2 3
1 2
1

In [269]:
num=20
for row in range(1,4):
    for col in range(row,5):
        print(num,end=" ")
        num=num+1
    print()

20 21 22 23
24 25 26
27 28

In [331]:
num=2
for row in range(1,4):
    for col in range(row,5):
        print(num,end=" ")
        num=num+num
    print()

2 4 8 16
32 64 128
256 512

In [277]:
num =68
for row in range(1,5):
    for col in range(row):
        print(chr(num),end= " ")
        num=num+1
    print()

D
E F
G H I
J K L M

In [281]:
num =2
for row in range(1,4):
    for col in range(row):
        print(num*2,end= " ")
        num=num+1
    print()

4
6 8
10 12 14

In [305]:
num =90
for row in range(1,4):
    for col in range(row,4):
        
        print(chr(num),end=" ")
    num = num-1
    print()

Z Z Z
Y Y
X

In [361]:
n=4
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(1,n+1):
    for j in range(i,n):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [371]:
n=4
for i in range(1,n+1):
    for j in range(i,n+1):
        print("*",end=" ")
    print()
for i in range(2,n+1):
    for j in range(i):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*
* *
* * *
* * * *